.so-widget-sow-image-default-d015436e699f .sow-image-container {
  text-align: left;
}
.so-widget-sow-image-default-d015436e699f .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}